.purchases-filter-links {
	width: 100%;
	height:60px;
	background-color: grey;
}
.purchases-filter-link {
	height:50px;
	width:20%;
	margin-left: 15px;
	margin-right: 15px;
	margin-top:10px;
	text-align: center;
	line-height: 50px;
	background-color: #c0a4a4;
	text-decoration: none;
	color: black;
}
.purchases-filter-link-current {
	background-color: white
}
.purchase-list {
	margin-top: 20px;
}