.seller-product-wraper {
  padding: 10px;
}

.add-product {
  width:102px;
  text-align: center;
  margin: auto;
  margin-top: 84px;
}
.add-product-ico {
  margin:auto;
  font-size: 44px !important;
}
.show-form:hover {
  cursor: pointer;
}
.form-control {
  border: none !important;
  border-bottom: 1px solid !important;
  border-radius: 0px !important;
}
.seller-product-container {
  width: 100%;
  box-shadow: 5px 5px 5px grey;
  margin:0px;
  padding-top: 15px;
  overflow: hidden;
  box-sizing: border-box;
  background-color: white;
  padding: 10px;


}
.add-product .seller-product-container {
  height: 100%;
}
.image-upload input[type='file'] {
  opacity:0;    
}
.image-upload{
    position: absolute;
    top: -7px;
    left: 50px;
}
.seller-product-details {
  width: 100%;
  margin: 10px;
}
.seller-product-image {
  width: 100%;
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.seller-product-name {
  height: 40px;
  line-height: 40px;
  font-size: 24px;
}
.seller-product-price {
  font-size: 21px;
  marhin-top: 20px;
}
.seller-edit-product {
  width: 50%;
  text-align: center;
  padding: 10px;
}
.seller-delete-product {
  width: 50%;
  text-align: center;
  padding: 10px;
}
.add-product-btn {
  margin: 20px !important;
}
.fa-camera-retro:hover {
  cursor: pointer;
}
.seller-product-price-label {
  font-size: 16px;
  margin-top: 20px;
}
.seller-product-total {
  margin-top: 21px;
  font-size: 20px;
}
.seller-product-total-label {
  font-size: 16px;
}
.seller-edit-product, .seller-delete-product {
  color: green;

}
.seller-edit-product:hover {
  cursor: pointer;
}
.seller-delete-product {
  cursor: pointer;
}
.show-form > .seller-product-container {
  height: 272px;
}
