.seller-product-wraper {
  padding: 10px;
  box-sizing: border-box;
}
.seller-product-container {
  width: 100%;
  box-shadow: 5px 5px 5px grey;
  margin:0px;
  padding-top: 15px;
  overflow: hidden;
  box-sizing: border-box;
  background-color: white;
  padding: 10px;


}
.add-product .seller-product-container {
  height: 100%;
}
.image-upload input[type='file'] {
  opacity:0;    
}
.image-upload{
    position: absolute;
    top: -7px;
    left: 50px;
}
.seller-product-details {
  width: 100%;
}
.seller-product-image {
  width: 100%;
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.seller-product-name {
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.seller-product-price {
  height: 30px;
  text-align: center;
}
.seller-edit-product {
  width: 50%;
  text-align: center;
  padding: 10px;
}
.seller-delete-product {
  width: 50%;
  text-align: center;
  padding: 10px;
}
.add-product-btn {
  margin: 20px !important;
}
.seller-product-submit{
  margin-bottom: 10px !important;
  margin-right:10px;
}
.add-product {
  height: 432px;
  cursor: pointer;
}
.fa-camera-retro:hover {
  cursor: pointer;
}