.market-left {
	width: 40%;
	border-right: 1px solid mistyrose;
}
.market-right {
	width: 60%;
	
}

.market-left .search {
	display: block;
	margin:30px;
}
.search input {
	border: none;
	border-bottom: 1px solid black;
	margin-bottom: 30px;
	width:80%;
}
.search button {
	border: 1px solid black;
	background: transparent;
	border-radius: 4px;
	padding: 5px 20px;
}
.search button:hover {
	cursor: pointer;
}

.results-headder {
	border-bottom: 1px solid MistyRose;
	width:100%;
	box-sizing: border-box;
	background: transparent;
}
.results-headder-item {
	width: 22%;
	padding-top: 30px;
	text-align: center;
}
.result-item {
	background-color: white;
	margin:10px;
	width: 97%;
	box-sizing: border-box;
	box-shadow: 5px 5px 5px grey;
	border-radius: 4px;
}
.result-item-value {
	width: 22%;
	padding: 12px;
	height: auto;
	text-align: center;
}
.result-item-bid {
	width: 12%;
	padding: 12px;
	height: auto;
	text-align: center;
}
.bid-button-container {
	width: 12%;
}

#map {
	width: 100%;
	height: 250px;
}
.current {
	background-color: red !important;
}
.results-body {
	background-color: MistyRose;
	padding-bottom: 5px;
	padding-right: 10px;
	padding-top: 1px;
	vertical-align: middle;
	text-align: center;
	box-sizing: border-box;
}
.fa-search {
	margin-left: 12px;
}
.results-wait {
	width: 10%;
	height: 10%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
@media screen and (max-width: 500px) {
	.market-left {
		width: 100% !important;
	}
	.market-right {
		width: 100% !important;
	}
	#map {
		width: 100% !important;
	}

}
.hidden {
	display: none;
}
.result-row-view {
	width:100%;
	box-sizing: border-box;
}
.result-grid-view {
	width:100%;
	background-color: mistyrose;
	padding:10px;
	margin-top: 22px;
}
.result-item-grid {
	background-color: white;
	margin: 10px;
	float: left;
	padding:10px;
	box-sizing: border-box;
	width: 92%;
	box-shadow: 5px 5px 5px grey;
	border-radius: 4px;

}
.result-item-grid-wraper {
	float: left;
	box-sizing: border-box;
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.result-item-grid-value {
	font-size: 20px;
}
.filter-links {
	padding:20px 20px 0px 0px;
}
.filter-grid {
	margin-left:20px;
	margin-right: 20px;
}
.current-filter {
	color: #aba7a7;
}
.filter-grid, .filter-row {
	cursor: pointer;
}
@media screen and (max-width: 500px) {
	.result-item-grid-wraper {
		width: 50% !important;
	}
}
.bid-dialogue-box {
	width:50%;
	position:fixed;
	z-index: 999;
	top: 16px;
	right: 16px;
	box-shadow: 0px 6px 5px MistyRose;
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	border: 2px solid;
}
.btn-default:hover {
	color: blue;
	cursor: pointer;
}