%h3= @shop.name
.purchase-list
  %table.table
    %thead
      %tr
        %th
          product
        %th
          quantity
        %th
          purchased at
        %th
          address
        %th
          price
      - @purchases.each do |purchase|
        %tr
          %td=purchase.product.name
          %td=purchase.quantity
          %td=purchase.created_at.strftime("%Y/%b/%d")
          %td=raw purchase.user.address.gsub('\n', '<br />')
          %td=purchase.product.price * purchase.quantity
.prepare-bill
  = link_to "Prepare Bill", platform_shop_bills_path(@shop), method: :post, class:"create-bill btn btn-primary"
