%table.table
  %thead
    %th
      shop
    %th
      go to shop
    %th
      edit
    %th
      delete
  - @all_shops.each do |shop|
    %tr
      %td
        = link_to shop.name, platform_shop_products_path(shop)
      %td
        = link_to "go to shop", shop_path(shop)
      %td
        = link_to 'edit', edit_platform_shop_path(shop)
      %td
        = link_to 'delete', platform_shop_path(shop), method: :delete