.shop-tile {
	width: 25%;
	padding: 10px;
	margin: 20px;
	float: left;
	background-color: white;
	border-radius: 10px;
}
.shop-banner {
	width: 100%;
	margin-bottom: 10px;
}
.shop-banner img {
	width: 100%;
}
.shop-details {
	text-align: center;
}
.shops-header {
	padding: 30px;
	text-align: center;
	width: 20%;
    margin: 0px;
    margin: 40px 0px 0px 40px;
}
.shops-header.current {
	background-color: mistyrose;
}
.shops-container {
	background-color: mistyrose;
}
.no-shops-message {
	padding: 20px;
	width: 80%;
	text-align: center;
}