.shop-tile {
	width: 25%;
	padding: 10px;
	margin: 10px;
	float: left;
	background-color: white;
}
.shop-banner {
	width: 100%;
}
.shop-banner img {
	width: 100%;
}
.shop-details {
	text-align: center;
}
.shops-header {
	padding: 30px;
}
.shops-container {
	background-color: mistyrose;
}