.profile-sub-nav
  .profile-sub-nav-item{class: action_name == 'index' ? 'current-profile-item' : ''}  
    = link_to seller_shops_path do
      ="Shops"
  .profile-sub-nav-item{class: action_name == 'my_bids' ? 'current-profile-item' : ''}
    = link_to my_bids_seller_shops_path do
      = "My Bids"
  .clearfix