= render partial: 'profile_sub_nav'
.open-bids-container
  - bid_count = 0
  - @product_bids.each do |bid|
    - bid_count += 1
    = render partial: '/bids/bid', locals: {bid: bid, seller: true, new_bid: @new_bid_count >= bid_count}
