= render partial: 'profile_sub_nav'
.past-purchases-container
  - @product_bids.each do |bid|
    = render partial: '/bids/bid', locals: {bid: bid, seller: false, new_bid: false}
  - if @product_bids.count == 0  
    .no-items-message
      You haven't accepted any bids