.shop-property
  .shop-property-name
    New Purchases
  .shop-property-value
    = @pnew_purchases

.shop-property
  .shop-property-name
    Credit
  .shop-property-value
    = @credit

.shop-property
  .shop-property-name
    Undelivered products
  .shop-property-value
    = @undelivered_products

