.status.pull-left
  .shop-property
    .shop-property-name.pull-left
      New Purchases
    .shop-property-value.pull-right
      = @new_purchases_count
    .clearfix

  .shop-property
    .shop-property-name.pull-left
      Credit
    .shop-property-value.pull-right
      = @credit
    .clearfix
  .shop-property
    .shop-property-name.pull-left
      Undelivered products
    .shop-property-value.pull-right
      = @undelivered_products
    .clearfix
.feedbacks.pull-left
  %h3
    Feedbacks
  .form-group
    search
    %input.form-control.search-comments{data:{search_url: search_seller_shop_comments_path(@shop)}}
  .comment-search-results
    = render template: 'seller/shops/comments'