.status.pull-left
  .shop-property
    .shop-property-name.pull-left
      New Purchases
    .shop-property-value.pull-right
      = @new_purchases_count
    .clearfix

  .shop-property
    .shop-property-name.pull-left
      Credit
    .shop-property-value.pull-right
      = @credit
    .clearfix
  .shop-property
    .shop-property-name.pull-left
      Undelivered products
    .shop-property-value.pull-right
      = @undelivered_products
    .clearfix
.feedbacks.pull-left
  %h3
    Feedbacks
  - @shop.comments.order('created_at DESC').each do |comment|
    .feedback-container
      .author
        =comment.user.try(:name)
      .comment-body
        = comment.text