%h4=bid.product.name
.available-quantity
  available quantity: 
  = bid.product.quantity
.bid-quantity
  bid quantity: 
  = bid.quantity
.bid-amount
  bid amount: 
  = bid.amount
.delete-bid
  =link_to "x", delete_bid_path(bid)