.bid-placed-success-msg
  Bid Placed successfully. Keep an eye on the profile section.
.bid-placed-success-msg-close
  = link_to "close", '', class: 'btn btn-primary bid-placed-success-msg-close-button', remote: true