.platform-shop-list-item {
  margin: 12px;
  border: 1px solid grey;
  width: 50%;
  border-radius: 10px
}
.shop-name {
  width:50%;
  text-align: center;
}
.shop-link {
	width:40%;
	text-align: center;
}
.shop-link a:hover {
	cursor: hand;
	cursor: pointer;
}
.platform-shop-search-field {
  width:40%;
  float: left;
}
.search-box{
  width:40%;
}
.shop-list{
  margin-left: 20px;
  margin-top: 20px
}
.search-box {
  width:100%;
}
.search-box .form-group {
  width:40%;
}
.new-shop-btn {
  margin-right: 15px;
}