.comments-container {
	width: 70%;
}
.comments-container .comments-container {
	width:90%;
}
.comment-container {
	border: 1px solid;
	border-radius: 5px;
	margin-left: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.comment-author {
	margin-top: 12px;
	margin-left: 12px;
}
.comment-body {
	margin: 12px;
}
.comments-container {
	margin-left: 20px;
	margin-top: 12px;
}
.comment-form {
	margin:12px;
	width:70%;
	display: none;
}
.show-reply-form {
	margin-right: 12px;
}