.comments-container {
	width: 70%;
}
.comments-container .comments-container {
	width:90%;
}
.comment-container {
	border: 1px solid;
	border-radius: 5px;
	margin-left: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.comment-author {
	margin-top: 12px;
	margin-left: 12px;
}
.comment-body {
	margin: 12px;
	margin-bottom: 4px;
}
.comments-container {
	margin-left: 20px;
	margin-top: 12px;
}
.comment-form {
	margin:12px;
	width:70%;
	margin-left: 35px;
}
.comment-form textarea {
	border: 1px solid;
}
.comments-container .comment-form {
	display: none;
	width: 90%;
	margin-left: 12px;
}
.show-reply-form {
	margin-right: 12px;
}
.comment-author {
	font-weight: bold;
}