.add_to_cart_form {
  margin-top: 4px;
    margin-bottom: 0px
}
.quantity-label {
  float: left;
  padding-top: 6px;
}
.quantity-field {
  width: 30% !important;
  margin-left: 8px;
  margin-top: -1px;
}
.add-to-cart-button {
  margin: 0px 0px 0px 8px;
}
.add-to-cart-button {
	float: right;
  margin-bottom: 17px;
}
.add-to-cart-submit-wraper {
	margin: auto;
	margin-top: 14px;
	width: 95px;
}
.product-unit {
  color:white;
  padding:6px;
}
