.shopping-cart {
    position: fixed;
    bottom: 0%;
    right:0%;
    border: 1px solid;
    background-color: black;
    
    border-radius: 8px;
}
.cart-item-name {
  float: left;
  padding: 5px 10px 5px 10px;

}
.cart-item-quantity {
  float: left;
  padding: 5px 10px 5px 10px;
}
.cart-item-unit {
  float: left;
  padding: 5px 10px 5px 10px;
}
.cart-item-delete {
  float: left;
  padding: 5px 5px 5px 10px;
  color: white;
}
.cart-item-delete:hover{
  cursor: pointer;
  cursor: hand;
  color: grey;
}

.cart-item {
  color: white;
}
.cart-checkout {
	margin: 6px;
}
