.load-more-button {
	width: 40%;
	margin: 0 auto;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 20px;
	background-color: #827f7e;

}
.load-more-button:hover {
	cursor: hand;
	cursor: pointer;
}
.search-button {
	margin-left: 12px
}
.sub-navbar {
	height: 37px;
    margin-bottom: 17px;
}
.search-container {
	margin-bottom: 1px !important;
}