.product-image {
  width:100%;
  margin: auto;
}
.product-name {
	padding: 6px;
    font-size: 18px;
    line-height: 9px;
}
.product-price {
	margin-right: 12px;
	font-size: 19px !important;
}
.product-buy {
	padding: 4px;
	margin-bottom: 4px;
	width: 50px;
}
.product {
	padding: 0px !important;
    margin: 8px !important;
	box-shadow: 10px 10px 5px #888888;
	box-sizing: border-box;
	padding-top: 15px;
}
.product-shop-name {
	width: 100%;
	text-align: center;
}
.submit-wraper {
	width:50px;
	margin: auto;
}
.product-detail {
	height: 124px;
	background-color: lavender;
	padding: 10px;
	background-color: black;
	color: white;
}.product-container {
	margin: 0px;
	padding: 4px 4px 4px 4px !important;
}
.product-list {
	padding: 10px;
}
.product-buy  {
	padding-left: 12px !important;
}
