.product-image {
  width:100%;
}
.product-name {
    font-size: 18px;
    line-height: 28px;
}
.product-price {
	margin-right: 12px;
	font-size: 18px;
}
.product-buy {
	padding: 4px;
	margin-bottom: 4px;
	width: 50px;
}
.product {

	box-shadow: 5px 5px 5px #888888;
	box-sizing: border-box;
	padding-top: 15px;
	position: relative;
	overflow: hidden; 
	border: 2px solid;
	width: 100%;
}
.product-shop-name {
	width: 100%;
	color:white !important;
	font-size: 18px;
}
.product-shop-name a{
	color: white;
}
.product-shop-name a:hover {
	color:grey !important;
	text-decoration: none;
	cursor:hand;
	cursor: pointer;
}
.submit-wraper {
	width:50px;
	margin: auto;
}
.product-detail {
	padding: 20px;
	padding-top: 15px;
	background-color: black;
	color: white;
}
.product-container {
	margin: 0px;
	padding: 10px !important;
}
.product-list {
	padding: 10px;
}
.product-buy  {
	padding-left: 12px !important;
}
.zoomer{
	position: absolute;
	width: 250%;
}
.product-description {
	height:100%;
	width: 100%;
}
.product-description h4 {
	margin: 12px;
}
.product-description p {
	margin: 12px;
}
.description-name {
	width: 100%;
	text-align: center;
}
.description-container{
	width: 100%;
}
@media (max-width: 575){
	.product-container {width: 100%;}
}
