.product-image {
  width:100%;
  margin: auto;
}
.product-name {
	padding:6px;
}
.product-price {
	padding: 6px;
}
.product-buy {
	padding: 4px;
	margin-bottom: 4px;
	width: 50px;
}
.product {

	box-sizing: border-box;
	padding-top: 15px;
}
.product-shop-name {
	width: 100%;
	text-align: center;
}
.submit-wraper {
	width:50px;
	margin: auto;
}
.product-detail {
	background-color: lavender;
	padding: 10px;
	background-color: black;
	color: white;
}