.search-container {
    float: left;
    width: 45%;
}
@media screen and (max-width: 992px) {
	.search-container input {
		width: 100%;
		height:60px;
	}
	.search-container {
		width:42%;
	}
	.search-button {
		font-size: 17px !important;
		margin-top: 6px;
	}

}