.profile-sub-nav{
	margin-top: 20px;
}
.profile-sub-nav-item {
	text-align: center;
	width: 20%;
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
}
.profile-sub-nav-item:first-child {
	margin-left: 20px;
}
.current-profile-item {
	background-color: mistyrose;
}

.inventory {
	background-color: mistyrose;
	padding-top: 10px;
}
.shop-attributes {
	padding: 30px 30px 0px 30px;
}
.shop-attributes a {
	margin-top: 20px;
}