.app {
  width :100%;
  margin: auto;
  background-color: oldlace;
}
.app-body {
  
}
.app-message {
  margin: 20px;
  padding: 10px;
  border: 1px solid #800000;
  border-radius: 5px;
}
.contact-us-panel {
  background-color: #FFE4C4;
  height: 30px;
  line-height: 4px;
  position: fixed; 
  bottom:0%;
  padding:20px;
  margin-left: 40px;
  border-radius: 5px 5px 0px 0px;
}
.app h2 {
  margin:15px;
}

@media screen and (max-width: 992px) {
  .app-message {
    font-size: 30px;
  }
  .devise-shared-links {
    font-size: 30px;
  }
}