.navigation {
  width: 100%;
  background-color: black;

}
.nav-item {
  margin-left: 20px;
  margin-right: 20px;
  height:50px;
  line-height: 50px;
  text-align: center;
}
.nav-item a {
  text-decoration: none;
  color: white;
}
.nav-item a:hover {
  text-decoration: none;
  color: gray;
}
.home-link  h3 {
  margin-top: 9px;
}
@media screen and (max-width: 992px) {
  .nav-item, .nav-item a h3 {
    font-size: 30px;
    height: 68px;
    line-height: 68px
  }
  .navbar {
    height: 68px;
  }
}