.nav-toggle .fa {
	font-size: 31px;
    margin-top: 7px;
}
@media (min-width: 576px) {
	.nav-toggle {
		display: none;
	}
	.links {
		display: inline !important;
	}
}
@media (max-width: 575px) {
	.links {
		position: absolute;
		background: black;
		z-index: 999;
        top: 50px;
        display: none;
	}
	.links .nav-item {
		float:none;
		display: block;
	}
}
.nav-item.nav-toggle {
	margin-left: 12px;
	margin-right: 12px;
}
.fa-bars {
	color:white;
}