.social-sign-in
  = link_to fa_stacked_icon("facebook", base: "square-o",class: "fa-2x"), '/auth/facebook'
.social-sign-in
  = link_to fa_stacked_icon("twitter", base: "square-o",class: "fa-2x"), '/auth/twitter'
.social-sign-in
  = link_to fa_stacked_icon("google", base: "square-o",class: "fa-2x"), '/auth/google_oauth2'
