:javascript  

        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            $('[name="shop[lat]"]').val(pos.lat)
            $('[name="shop[lng]"]').val(pos.lng)
          })
        }
