:javascript

  var geolocate= function(){
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        $.ajax({
          url: '/set_location',
          type: 'post',
          dataType: 'json',
          data: {lat: pos.lat, lng: pos.lng}
        })

        if($('#geolocation').length == 1){
          $('#geolocation').val('('+pos.lat+', '+pos.lng+')')
          getInitialResult()
        }

      })
    }
      

  }

  geolocate()

