.user-form-box {
  width: 70%;
  margin: auto;
  margin-top: 50px;
}
.devise-user-form {
  width: 60%;
}
.devise-user-form label {
	margin-bottom: 0px;
    margin-top: 10px;
}
.devise-user-form .form-group {
  margin-bottom: 0px;
}
.devise-user-form .form-group:last-child {
  margin-bottom: 10px;
}
.fa-stack {
  color: black !important;
}
@media screen and (max-width: 342px)  {
	.user-form-box {
		width:95%;
		margin-left: 5%;
	}
	.devise-user-form {
		width:66%;
	}
	.devise-user-form label {
		font-size: 20px
	}
	.devise-user-form input {
		height: 40px;
		font-size: 20px;
	}
	.social-sign-ins {
		margin-left: 12px !important;
	}
	.fa-stack-1x {
		left: -17px;
	}
}