.user-form-box {
  width: 70%;
  margin: auto;
  margin-top: 50px;
}
.devise-user-form {
  width: 60%;
}
.devise-user-form .form-group {
  margin-bottom: 0px;
}
.devise-user-form .form-group:last-child {
  margin-bottom: 10px;
}
.fa-stack {
  color: black !important;
}
@media screen and (max-width: 992px)  {
	.user-form-box {
		width:95%;
		margin-left: 5%;
	}
	.devise-user-form {
		width:75%;
	}
	.devise-user-form label {
		font-size: 30px
	}
	.devise-user-form input {
		height: 60px;
		font-size: 30px;
	}
}