.navigation
  -if current_user
    .nav-item.pull-right
      = link_to (current_user.name ),  edit_user_registration_path
    .nav-item.pull-right
      = link_to "logout", destroy_user_session_path, method: :delete
  .nav-item.pull-left
    = link_to "Dashboard", platform_shops_path 
  .nav-item.pull-left
    = link_to "Feedbacks", feedbacks_platform_dashboard_path 
  .clearfix